<div id="<%= dom_id friend %>">
  <p>
    <strong>F name:</strong>
    <%= friend.f_name %>
  </p>

  <p>
    <strong>L name:</strong>
    <%= friend.l_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= friend.email %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= friend.twitter %>
  </p>

</div>
